/* Standard Gallery Styles */

.ractive-gallery {
    position: relative;
    text-align: center;
}

.ractive-gallery img {
    cursor: pointer;
}

.ractive-gallery .bigview img {
    max-width: 100%;
}

.ractive-gallery .control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2em;

    font-size: 200%;
    border: 0;
    background-color: #E5E5E5;
    cursor: pointer;

    opacity: 0;
    transition: 1s;
}

.ractive-gallery .control.visible {
    opacity: 0.6;
}

.ractive-gallery .prev {
    left: 0;
}

.ractive-gallery .next {
    right: 0;
}
