/* Standard Gallery Styles */

.ractive-gallery {
    position: relative;
    text-align: center;
}

.ractive-gallery img {
    cursor: pointer;
}

.ractive-gallery .bigview img {
    max-width: 100%;
}

.ractive-gallery button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2em;

    font-size: 200%;
    border: 0;
    background-color: #E5E5E5;
    opacity: 0.6;
}

.ractive-gallery .prev {
    left: 0;
}

.ractive-gallery .next {
    right: 0;
}
